@import "bourbon";

* { @include box-sizing(border-box); }

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 100.01%/1.25 "Helvetica Neue", "Helvetica", sans-serif;
  color: #333;
}

canvas {
  border: 1px solid;
  margin-top: 4em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 640px;
  width: 640px;
}
